<% if bootstrap_three? %>
<div class="modal-dialog modal-lg">
    <div class="modal-content"><% end %>
        <div class="modal-header">
            <h4 class="sr-only" id="beModalLabel">Select a provider in the list to browse your files.</h4>
            <div class="ev-providers">
                <%= render :partial => 'providers' %>
            </div>
        </div>
        <div class="btn-group" role="group" aria-label="actions">
            <button type="button" class="btn btn-default" id="add_file" type="file" >
              <label class="btn btn-primary">
                <i class="fa fa-upload" aria-hidden="true"></i>
                <input id="upload" type="file" style="display: none;">
              </label>
            </button>
            <button type="button" class="btn btn-default">
              <label class="btn btn-primary"
                      onclick='addSubFolder(this)'
                      curr_path="<%=BrowseEverything.config["file_system"][:home]%>">
                <i class="fa fa-folder fa-plus-circle"></i>
              </label>
            </button>
        </div>
        <%= hidden_field_tag 'curr_path' %>
        <div class="modal-body ev-body" tabindex="-1">
            <div class="ev-browser row<%=bs2('-fluid')%>" aria-live="polite">
                <div class="<%=fa3or4('fa3','fa4')%> <%=bs2or3('bs2 span','bs3 col-xs-')%>12 ev-files list">
                    <%= render :partial => 'files' if provider.present? %>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <span class="pull-left ev-status">0 files selected</span>
            <%= form_tag '#', :class => "ev-submit-form form-horizontal", :data => { :resolver => browse_everything_engine.resolver_path } do %>
            <input type="hidden" name="context" value=""/>
            <button class="ev-cancel btn btn-danger"><%= t('browse_everything.modal_form.cancel')%></button>
            <button class="ev-submit btn btn-primary" data-loading-text="Loading..."><%= t('browse_everything.modal_form.submit')%></button>
            <% end %>
        </div>
        <script>
          $("document").ready(function(){

              $("#upload").change(function() {

                var $input = $("#upload");
                var fd = new FormData;
                var name = $input.prop('files')[0].name;

                fd.append('img', $input.prop('files')[0]);
                fd.append('name', name);
                fd.append('path', "<%=BrowseEverything.config["file_system"][:home]%>")

                $.ajax({
                    url: '/browse/upload_file',
                    data: fd,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function (data) {
                        alert(data);
                    }
                });
                return false;
              });

          });
          function addSubFolder(el){
            var curr_path = el.getAttribute('curr_path');
            var fold_name = prompt('sub folder name');
            var fd = new FormData;
            fd.append('curr_path', curr_path);
            fd.append('fold_name', fold_name);
            $.ajax({
                url: '/browse/create_sub_folder',
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    $("#file-list").innerHTML = data.html;
                }
            });
            return false;
          };
          function setCurrPath(row){
            $('#curr_path').val($(row).attr("data-ev-location"));
          };
          </script>
        <% if bootstrap_three? %>
      </div>
</div><% end %>
